:root {
    --white: #E9EAEE;
    --dark: #303030;
    --yellow: #ff9E00;
    --gray-ligth: #969da3;
    --gray-ligth-medium: #dedede;
    --gray-medium: #676a6d;
    --gray-dark: #46484b;
}

body {
    background-color: var(--white);
}

#navBar {
    background-color: #39373A;
    font-family: Poppins, sans-serif;
    font-weight: 500;
}

.search-bar {
    padding: 1em;
    justify-content: left;
}

#search {
    border-radius: 0;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#card {
    display: flex;
    flex-wrap: wrap;
    width: 265px;
    height: 100%;
    border-radius: 0.2em;
    font-family: Poppins, sans-serif;
    background-color: #ffffff;
    border: none;
    box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.09);
    margin: 0.5em;
    margin-bottom: 1em;
}

#card:hover {
    box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.504);
    transition: 1.2s;
}


#card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 1em;
    flex-grow: 1;
}

#card img {
    padding: 0.5em;
    height: 250px;
    object-fit: cover;
    border-radius: 0.7em;
}

#card h5 {
    font-family: Poppins, sans-serif;
    text-transform: uppercase;
    font-size: large;
    font-weight: 700;
    color: var(--dark);
}

#card h6 {
    font-size: larger;
    font-weight: 600;
    font-size: small;
    color: var(--gray-medium);
}

#card-description {
    font-size: small;
    color: var(--dark);
    max-height: 100px;
    overflow: hidden;
}

#tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.2em;
    margin-top: auto;
    /* Coloca los tags al final de la tarjeta */
}

#tags {
    background-color: var(--gray-ligth-medium);
    color: var(--dark);
    border-radius: 0.3em;
    padding: 0 0.6em;
    font-size: 0.7em;
    text-decoration: none;
}

#tags:hover {
    color: var(--gray-dark);
}

#btn-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 1em;
}

#btn-container #btn {
    border-radius: 0;
    font-size: small;
    border-radius: 0.5em;
}

/*Estados de Conservación*/
#vulnerable {
    width: 25px;
    border: none;
    border-radius: 0;
    background-color: var(--dark);
    color: var(--white);
    font-size: x-small;
    text-transform: uppercase;
    padding: 0.5em;
    font-weight: 500;
    margin-top: -20px;
    margin-bottom: 15px;
}